<% @topics.each do |topic| %>
  <div>
    <%= topic.title %>
    <%= topic.content %>
    <%= link_to 'Show', topic, remote: true, data: {lat: "#{topic.lat}", lng: "#{topic.lng}"}, onClick: "changeCenter(event);" %>
    <%= link_to 'Destroy', topic, method: :delete, data: { confirm: 'Are you sure?' } %>
    <hr>
  </div>
<% end %>
