<div class="main_container">

  <div id="topics_area">
    <%= render partial: 'topics/index', locals: { topics: @topics } %>
  </div>

  <div id="map" style="width: 100%;"></div>
  <div id="markers" data-markers="<%= @markers_json %>"></div>
  <%= render partial: 'maps/map' %>
</div> 