<div style="display: flex; width: 100%; height: 100%;"> 
  <div id="topics_area" style="min-width: 240px;">
    <%= render partial: 'topics/index', locals: { topics: @topics } %>
  </div>

  <div id="map" style="width: 100%;"></div>
  <%= render partial: 'maps/map' %>
</div> 