<% @users.each do |user| %>

  <div class="row", style="background: white";>

    <div class="col-xs-8">
      <%= link_to user_path(id: user.id) do %>
        <%= image_tag user.icon.thumb.url %>
        <%= user.name %>
      <% end %>
    </div>

  </div>

  <hr>

<% end %> 