<h1>
  <%= image_tag @user.icon.url if current_user.icon? %>
  <%= @user.name %>
</h1>
<% if current_user.id == @user.id %>
  <%= link_to 'edit', edit_user_registration_path %>
<% end %>
<hr>

<%= render partial: 'topics/index', locals: { topics: @topics } %>
