<div class="holder">

  <div class="top-background">

      <div class="first"></div>
      <div class="second"></div>
      <div class="third"></div>
      <div class="txt">
      <div class="top-message text-center">
      <h1>Wave Share</h1>
      <p>Looking for waves</p>
      <%= link_to "ログイン", new_user_session_path, class: 'post btn btn-primary' %>
      <%= link_to "新規登録", new_user_registration_path, class: 'post btn btn-primary' %>
    </div>
  </div>
</div> 