<div class="top-background">
  <div class="top-message text-center">
    <h1>Wave Share</h1>
    <p></p>
    <%= link_to "ログイン", new_user_session_path, class: 'post btn btn-primary' %>
    <%= link_to "新規登録", new_user_registration_path, class: 'post btn btn-primary' %>
  </div>
</div> 