#map {
  width: 100%; 
}

h1 {
  margin: 0;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: #333;
  background: whitesmoke;
}

body {
  height: calc(100% - 55px);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

header {
  display: flex;
  justify-content: space-between;
  height: 53px;
  padding: 0 20px;
  background: white;
  line-height: 60px;
  border-bottom: 1px solid #eee;
}

.header_menu_item img {
  margin-bottom: 10px;
}

.header_menu {
  display: flex;
}

.header_menu_item {
  margin-left: 22px;
  color: #333;
}

img[src*="/uploads/user/icon/"] { 
  border-radius: 50%; 
}

.main_container {
  display: flex;
  width: 100%;
  height: 100%;
}

#topics_area {
  width: 30%;
  padding: 15px 15px 0 15px;
  overflow-y:scroll;
}

.topics_image img {
  width: 100%;
}

.topics_index_topic {
  margin: 0 15px;
}

.fa-thumbs-up {
  color: orange;
  font-size:30px;
}

.fa-thumbs-o-up {
  font-size:2em;
}

.fa-thumbs-up:hover {
  transform: scale(1.1, 1.1);
  font-size:30px;
}

#topics_area .fa-thumbs-o-up:hover {
  -webkit-animation: bound 1s ease-in infinite; 
  -moz-animation:    bound 1s ease-in infinite; 
  animation: bound 1s ease-in infinite;
  transform: scale(1.1, 1.1);
  color: orange;
  font-size:30px;
}

@keyframes bound {
  from { transform: scale(1); }
  25% { transform: scale(1.8); }
  50% { transform: scale(0.95); }
  75% { transform: scale(1.05); }
  to { transform: scale(1); }
}

/* faa-wrench animated-hover */

.users_form {
  text-align: center;
  width: 348px;
  margin: 10px auto;
  padding: 10px;
  background: white;
}

.actions {
  margin: 15px;
} 

.link_to_topic {
  display: block;
}