#map {
  width: 100%; 
}

h1 {
  margin: 0;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: #333;
  background: rgb(4, 73, 85);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

header {
  display: flex;
  justify-content: space-between;
  height: 53px;
  padding: 0 20px;
  background: white;
  line-height: 60px;
  border-bottom: 1px solid #eee;
}

.header_menu_item img {
  margin-bottom: 10px;
}

.header_menu {
  display: flex;
}

.header_menu_item {
  margin-left: 22px;
  color: #333;
}

img[src*="/uploads/user/icon/"] { 
  border-radius: 50%; 
}

.main_container {
  display: flex;
  width: 100%;
  height: 100%;
}

#topics_area {
  width: 30%;
  padding: 15px 15px 0 15px;
  overflow-y:scroll;
}

.topics_image img {
  width: 100%;
}

.topics_index_topic {
  margin: 0 15px;
}

.fa-thumbs-up {
  color: orange;
  font-size:30px;
}

.fa-thumbs-o-up {
  font-size:2em;
}

.fa-thumbs-up:hover {
  transform: scale(1.1, 1.1);
  font-size:30px;
}

#topics_area .fa-thumbs-o-up:hover {
  -webkit-animation: bound 1s ease-in infinite; 
  -moz-animation:    bound 1s ease-in infinite; 
  animation: bound 1s ease-in infinite;
  transform: scale(1.1, 1.1);
  color: orange;
  font-size:30px;
}

@keyframes bound {
  from { transform: scale(1); }
  25% { transform: scale(1.8); }
  50% { transform: scale(0.95); }
  75% { transform: scale(1.05); }
  to { transform: scale(1); }
}

/* faa-wrench animated-hover */

.users_form {
  font-family: 'Bitter', serif;
  text-align: center;
  width: 348px;
  padding-top: 15%;
  margin: auto;
  color: white;
}

.acount-link a {
  color: white;
}

.login-link a {
  color: white;
}

.user-name a {
  color: white;
}

.actions {
  margin: 15px;
} 

.link_to_topic {
  display: block;
}

.top-background {
  background: url("/top.png");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.top-message {
  padding: 50px;
  font-family: 'Bitter', serif;
  text-align: center;
  position: absolute;
  z-index: 1000;
}

/* .txt {
  margin-top: calc(50vh - 43px);
  position: absolute;
  width: 100%;
  z-index: 1000;
} */

@import url(https://fonts.googleapis.com/css?family=Bitter);
    
    .holder,
    .first,
    .second,
    .third {
      height: 100vh;
      width: 100vw;
    }
    .first,
    .second,
    .third {
      position: absolute;
    }
    .second,
    .third {
      opacity: 0;
    }
    .holder {
      height: 100vh;
      position: relative;
      z-index: 1;
    }
    .first {
      animation: first 10s infinite;
      background: linear-gradient(#5ff8ca, #60e08c);
      z-index: 10;
    }
      @keyframes first {
        0% {opacity: 0;}
        10% {opacity: 0.1;}
        20% {opacity: 0.2;}
        30% {opacity: 0.3;}
        40% {opacity: 0.4;}
        50% {opacity: 0.5;}
        60% {opacity: 0.4;}
        70% {opacity: 0.3;}
        80% {opacity: 0.2;}
        90% {opacity: 0.1;}
        100% {opacity: 0;}
      }

    .second {
      animation: second 10s infinite; animation-delay: 2s;
      background: linear-gradient(#19eaa6, #00a1f0);
      z-index: 20;
    }
      @keyframes second {
        0% {opacity: 0;}
        10% {opacity: 0.1;}
        20% {opacity: 0.2;}
        30% {opacity: 0.3;}
        40% {opacity: 0.4;}
        50% {opacity: 0.5;}
        60% {opacity: 0.4;}
        70% {opacity: 0.3;}
        80% {opacity: 0.2;}
        90% {opacity: 0.1;}
        100% {opacity: 0;}
      }

    .third {
      animation: third 10s infinite;
      animation-delay: 8s;
      background: linear-gradient(#aab7f8, #ff75c6);
      z-index: 30;
    }
      @keyframes third {
        0% {opacity: 0;}
        10% {opacity: 0.1;}
        20% {opacity: 0.2;}
        30% {opacity: 0.3;}
        40% {opacity: 0.4;}
        50% {opacity: 0.5;}
        60% {opacity: 0.4;}
        70% {opacity: 0.3;}
        80% {opacity: 0.2;}
        90% {opacity: 0.1;}
        100% {opacity: 0;}
      }

    h1 {
      font-size: 40px;
      font-weight: 400;
      margin: 0;
    }

    p {
      font-size: 20px;
      margin-top: 0;
    }

    /* .input button {
      font-family: 'Bitter', serif;
    } */
